*{margin:0px; padding:0px;}

/* cabeçalho menus*/
.primeiroMenu{display:flex; height:90px; width:100%; background:white; align-items: center; flex-direction: row-reverse;}
.banerLogo {width:100%; height:300px; background-image: url("./img/fundo.jpg"); opacity:0.9; display:flex; align-items:center; justify-content: center;}

.logot {width:250px; height:200px;}
.segundoMenu{background:white; box-shadow: 2px 4px 5px 2px black; height:80px; width:100%; display:flex; align-items: center; }
a{margin:20px; color:black;  text-decoration:none; font-size:30px;}
a:hover{text-decoration: underline;}
label, h1, h2, p, a{font-family:verdana;}

/*  card */
h2{text-align: center;}
.card{width:300px; height:780px; box-shadow: 2px 4px 5px 1px black; margin-top:15px ; }
.banerCard{width:100%; height:50%px; display:flex; }
.cardDesc{display:flex; flex-direction:column; height:50%; }
.textcont{width:100%; height:90%; }
.notacont{ display:flex; flex-direction:row;}
.nota{color:#C0C0C0;}
.baner{width:100%;}
.icoh, .icos{width:30px; height:25px; margin:5px 0px 0px 5px; }
.icoh{margin-left:-35px;}
.notacont p{margin:10px;}
.descricao {text-align:center; margin:5px ; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #1C1C1C;  width:95%; text-shadow: 1px 0px 0px #D3D3D3;   }





/* corpo */
section{height:600px; display:flex; justify-content: space-around; flex-flow: row wrap; margin-top:30px; width: 100%;}



/* formulario */

#capa {display: none;}
#lblFile {display:flex; box-shadow: 2px 4px 5px 1px black; width: 60%; margin-bottom: 40px;}
#lblFile:hover{cursor: pointer;}
.btnFile {background:#8C1A1A; width:100%; height:60px;}
h6 {font-size:40px; color: white; text-align: center;}
.centralizador{margin-top:20px;  width:100%;display:flex; justify-content: space-around;}
.formulario{ width:70%; display:flex;  flex-flow:column; align-items: center; box-shadow: 2px 4px 5px 1px black;}
.campo { margin:30px 0px 30px 0px; font-family: verdana; border:none; width: 70%; border-bottom: 2px solid black;}
#capa{color: white; }
.campo:focus {outline:none;}
.linhador {display:flex; width: 100%; justify-content: center; }
.botao{background:#8C1A1A; width:20%; height:30px; border: none; font-size:30px; box-shadow: 2px 4px 5px 1px black; }
.botao:hover {text-decoration: none; cursor: pointer;}
.linhador button {margin-top:19px;}
.formulario a {text-align: center; padding-bottom:2px ; background:white;}
#tipoForm {border: 10px solid transparent; color: white; border-color: #fff transparent transparent transparent; background:#8C1A1A; }


@media screen and (max-width: 500px){

header a{font-size:22px; }
.primeiroMenu, .segundoMenu{justify-content:space-between;}

.botao{width:48%; align-items: center; } 

h6{font-size:20px;}
.btnFile{height: 30px;}
.formulario{width:100%;}




}